.profile-container{
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    height: 10% !important;
    min-height: fit-content !important;
    
};

.profile-parent{
    display: flex !important;
    align-items: center !important;
    color: white !important;


};

.highlighted-text{
    color: aliceblue !important;
};

.profile-details-name{
    font-size: 24px !important;
    font-family: "Poppins SemiBold" !important;
};

.profile-details-role{
    display: flex !important;
    flex-direction: column !important;
    margin: 14px 0 24px 0 !important;
};

.profile-details-role h1{
    font-size: 40px !important;
    font-family: cursive !important;
};

.profile-text{
    color: (--white) !important;
};

.highlighted-text{
    color: var(--dark-orange) !important;
};

.profile-role-tagline{
    font-size: 19px !important;
    margin: 5px 0 0 0 !important;
    font-family: "Poppins Light" !important;
};

.profile-options .highlighted-btn:hover{

    margin: 0 0 0 28px;
    background-color: cornsilk !important;
    color: #111 !important;
    
};

.profile-picture{
    display: flex !important;
    align-items: center !important;
    justify-content: center !;
    box-shadow: 0 1px 0px 0px var(--white) !important;
    border-radius: 50% !important;
    height: 380px !important;
    width: 380px !important;
    margin: 0 0px 0 100px !important;
}

.profile-picture-background{
    height: 92%;
    width: 92%;
    /* background-image: url(../../assets/Home/IMG-20230222-WA0029.jpg) !important; */
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
};

.profile-picture-background:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
};

/* .col .cols-icon{
    color: white !important;
    padding: 8px;
    padding-left: 0px;
} */

/* .col .cols-icon i:hover{
    transform: scale !important; 
}; */

@media screen and (max-width: 1110px){
    .profile-picture{
        margin: 0 0px 0 80px;    
    }
    .profile-details-name{
        font-size: 20px;
    }

    .profile-details-role .primary-text{
        font-size: 12px;
    }
    .profile-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
   
    
}

@media screen and (max-width: 910px){
    .profile-picture {
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
     a.abtn{
        display: flex;
        flex-direction: row;
        align-items: center;
   
    }
}

@media screen and (max-width: 910px){
    .profile-picture{
        margin: 0 !important;
    }
    .profile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .profile-options{
        display: flex;
        justify-content: space-between;
    }
    .profile-details{
        margin: 25px 0 0;
    }
    .profile-options .highlighted-btn {
        margin: 0 ;
    }
    .profile-options,
    .profile-details-role{
        text-align: center;

    }
   a.abtn{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
}

@media screen and (max-width: 375px){
    .profile-picture{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }
    .profile-details{
        width: 90%;
    }
    a.abtn{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}



