:root{
  --light-blue : #04C3FF !important;
  --light-blue-shadow:  rgb(69 211 255 / 27%) !important;
  --sea-green: #0ABEAD !important;
  --sea-green-dark: #0CBFAE !important;
  --sea-green-extra-dark: #09BEAD !important;
  --sea-green-shadow: rgba(11, 190, 173,0.4) !important;
  --header-hamburger-background : rgba(11, 190, 173,0.8) !important;
  --orange: #F57F17 !important;
  --dark-orange: #FF5823 !important;
  --orange-shadow: rgba(245, 127, 23,0.2) !important;
  --white: #ffffff !important;
  --black: #333333 !important;
  --disabled-btn: #09bead7a !important;
  --error-message:  #e44f4fd1 !important;
  --toast-error: #e44f4ffa !important;
  --toast-shadow:  #9c9c9ce3 !important;
  --toast-success: #0CBFAE !important;
  --loader-color: #0CBFAE !important;
};
